.bp-search {
  ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
}

[class^='ais-'] {
  box-sizing: border-box;
  font-size: 0.9rem;
}
a[class^='ais-'] {
  color: #21243d;
  text-decoration: none;
}
[class^='ais-'][class$='--disabled'] {
  cursor: not-allowed;
  * {
    cursor: not-allowed;
  }
}
.ais-Breadcrumb {
  color: #21243d;
  font-size: 0.75rem;
}

.grid {
  .ais-InfiniteHits-list {
    list-style-type: none;
    padding: 0;
    margin: 0 -10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
  }

  .ais-InfiniteHits-item {
    justify-content: center;
    flex: auto;
    width: calc(100% / 3.225);
    margin: 0 10px;
    margin-bottom: 10px;

    @media (min-width: 768px) {
      width: calc(100% / 3.515);
      justify-content: space-between;
      flex: 0 0 auto;
    }

    @media (min-width: 991px) {
      width: calc(100% / 3.3);
    }

    @media (min-width: 1280px) {
      width: calc(100% / 3.515);
      margin: 0 20px;
      margin-bottom: 30px;
    }

    &:hover {
      background-color: transparent;
    }
  }

  .ais-InfiniteHits-item__link {
    border-bottom: none;
    display: block;
    padding: 0;

    h4 {
      font-size: 0.875rem;
      line-height: 1.1;
      text-align: center;

      @media (min-width: 768px) {
        font-size: 1.125rem;
      }
    }
  }

  .ais-InfiniteHits-item__buyNowLink {
    font-size: 0.825rem;
    font-weight: 700;
    margin-left: -1;
    cursor: pointer;
    position: relative;
    transition: all ease-in-out .3s;
    border-radius: 25px;
    padding: .6rem 2rem;
    background-color: #fff;

    @media (min-width: 768px) {
      font-size: 1.125rem;
    }
    &:hover {
      color: var(--white-color);
      border: 2px solid var(--primary-color);
      background-color: var(--primary-color);
    }
  }

  .ais-InfiniteHits-item__copy {
    padding: 0px;
    padding-top: 5px;

    @media (min-width: 768px) {
      text-align: center;
      padding: 10px 50px;
    }
  }

  .ais-InfiniteHits-item__tagline {
    background: linear-gradient(to bottom, #fff 40%, #b8f0c0 5%, #b8f0c0 95%);
    font-weight: 700 !important;

    @media (min-width: 768px) {
      font-size: 1.125rem;
      text-align: center;
    }
  }

  .ais-InfiniteHits-item__desc {
    display: none;
  }

  .image-wrapper {
    width: auto;
    height: auto;

    img {
      width: 100%;
    }
  }
}

.ais-ClearRefinements {
  color: #21243d;
  font-size: 0.75rem;
  color: rgba(33, 36, 61, 0.7);
}
.ais-CurrentRefinements {
  color: #21243d;
  font-size: 0.75rem;
}
.ais-ClearRefinements-button {
  color: #21243d;
  font-size: 0.75rem;
  color: rgba(33, 36, 61, 0.7);
}
.ais-Hits {
  color: #21243d;
  font-size: 0.75rem;
}
.ais-Results {
  color: #21243d;
  font-size: 0.75rem;
}
.ais-HitsPerPage {
  color: #21243d;
  font-size: 0.75rem;
  position: relative;
  &::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='7' viewBox='0 0 12 7'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M14-5v16H-2V-5z'/%3E%3Cpath fill='%23000' stroke='%23FFF' stroke-width='.5' d='M2.228 1.332a.664.664 0 0 0-.942.001.665.665 0 0 0-.002.941l4.247 4.247c.259.26.679.26.938 0l4.247-4.247a.664.664 0 0 0-.002-.94.666.666 0 0 0-.942-.002L6 5.105 2.228 1.332z'/%3E%3C/g%3E%3C/svg%3E%0A");
    display: inline-block;
  }
}
.ais-ResultsPerPage {
  color: #21243d;
  font-size: 0.75rem;
}
.ais-InfiniteHits {
  color: #21243d;
  font-size: 0.75rem;
}
.ais-InfiniteResults {
  color: #21243d;
  font-size: 0.75rem;
}
.ais-Panel {
  color: #21243d;
  font-size: 0.75rem;
}
.ais-PoweredBy {
  color: #21243d;
  font-size: 0.75rem;
}
.ais-RefinementList {
  color: #21243d;
  font-size: 0.75rem;
}
.ais-SortBy {
  color: #21243d;
  font-size: 0.75rem;
  position: relative;
}
.ais-HitsPerPage-select,
.ais-SortBy-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: 1px solid #ebecf3;
  border-radius: 5px;
  color: #21243d;
  font-family: inherit;
  font-size: 1rem;
  padding: 5px;
}
.ais-HitsPerPage:after,
.ais-SortBy:after {
  content: '\25BC';
  position: absolute;
  top: 5px;
  right: 0;
  padding: 0 1em;
  cursor: pointer;
  pointer-events: none;
  transition: all 0.25s ease;
}
.ais-HitsPerPage-option,
.ais-SortBy-option {
  font-size: 1rem;
}
.ais-Stats {
  color: #21243d;
  font-size: 0.75rem;
}
.ais-ToggleRefinement {
  color: #21243d;
  font-size: 0.75rem;
}
.ais-Highlight-highlighted {
  background: rgba(226, 164, 0, 0.4);
}
.ais-Snippet-highlighted {
  background: rgba(226, 164, 0, 0.4);
}
.ais-RefinementList-item {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  padding-bottom: 1rem;
  * {
    cursor: pointer;
  }
}
.ais-Panel--collapsible {
  position: relative;
}
.ais-Panel--collapsed {
  .ais-Panel-body {
    display: none;
  }
  .ais-Panel-footer {
    display: none;
  }
}
.ais-Panel-collapseButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  position: absolute;
  right: 0;
}
.ais-Panel-header {
  border: none;
  color: #21243d;
  font-size: 0.678rem;
  font-weight: 600;
  letter-spacing: 0.08rem;
  line-height: 1.6;
  padding-bottom: 1rem;
  text-transform: uppercase;
}
.ais-RefinementList-label {
  align-items: center;
  display: flex;
}
.ais-RefinementList-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: rgba(65, 66, 71, 0.08);
  border: none;
  border-radius: 2px;
  height: 1rem;
  margin: 0;
  margin-right: 1rem;
  position: relative;
  width: 1rem;
}
.ais-RefinementList-item--selected {
  font-weight: bold;
  .ais-RefinementList-checkbox {
    background-color: #e2a400;
    &::after {
      background-color: #fff;
      border-radius: 4px;
      content: '';
      height: 4px;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translateX(-2px) translateY(-2px);
      width: 4px;
    }
  }
}
.ais-RefinementList-count {
  align-items: center;
  background-color: rgba(65, 66, 71, 0.08);
  border-radius: 4px;
  color: rgba(33, 36, 61, 0.8);
  display: flex;
  font-size: 0.64rem;
  font-weight: 600;
  letter-spacing: 1.1px;
  margin-left: 8px;
  padding: 0 4px;
}
.ais-ToggleRefinement-count {
  align-items: center;
  background-color: rgba(65, 66, 71, 0.08);
  border-radius: 4px;
  color: rgba(33, 36, 61, 0.8);
  display: flex;
  font-size: 0.64rem;
  font-weight: 600;
  letter-spacing: 1.1px;
  margin-left: 8px;
  padding: 0 4px;
}
.ais-RefinementList-showMore {
  margin-top: 1rem;
}
.ais-ClearRefinements-button--disabled {
  color: rgba(33, 36, 61, 0.5);
}
.ais-ToggleRefinement-label {
  cursor: pointer;
  display: flex;
}
.ais-ToggleRefinement-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: rgba(65, 66, 71, 0.08);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  height: 16px;
  margin-right: 16px;
  min-width: 30px;
  transition: background 150ms ease-out;
  &:checked {
    background: #e2a400;
    &::after {
      transform: translateX(100%);
    }
  }
  &::after {
    background-image: linear-gradient(to top, #f5f5fa, #fff);
    border-radius: 100%;
    box-shadow: 0 4px 11px 0 rgba(37, 44, 97, 0.15),
      0 2px 3px 0 rgba(93, 100, 148, 0.2);
    content: '';
    height: 16px;
    position: absolute;
    transition: transform 150ms ease-out;
    width: 16px;
  }
}

.ais-InfiniteHits-loadMore {
  font-size: 0.875rem;
  font-weight: 700;
  background-color: #fff;
  color: black;
  padding: 10px 16px;
  position: relative;
  display: flex;
  margin: auto;
  margin-top: 32px;
  margin-bottom: 32px;
  border: 2px solid #000;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 25px;

  &:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: white;
  }

  &:focus {
    transform: perspective(1px) translateZ(0);
  }

  @media (min-width: 768px) {
    font-size: 1.125rem;
    padding: 14px 20px;
  }
}

.ais-InfiniteHits-loadMore--disabled {
  display: none;
}

.show-results {
  display: flex;
  margin-top: 6%;
  font-size: 25px;
  justify-content: center;
}

.show-author-results {
  display: flex;
  justify-content: center;
  @media (min-width: 899px) {
    justify-content: left;
  }
  strong {
    font-size: 2em;
    @media (min-width: 899px) {
      font-size: 2.5rem;
    }
  }
}
.hide{
  display: none;
}
