.bp-form {
  margin: 16px;
  margin-bottom: 48px;
}
.bp-footer-form {
  display: flex;
  flex-wrap: wrap !important;
  margin-bottom: 48px;

  & div > input {
    height: 3.125rem;
    border-radius: 0;
    border: 1px solid #ccc;
    padding: 0.625rem 1rem;
    &:focus {
      outline: 0;
    }
  }
}
