.bp-breadcrumb {
  padding-top: 12px;
  padding-bottom: 12px;

  @media (min-width: 768px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    padding-left: 5px;
  }

  &-item {
    font-size: 0.75rem;

    &:first-child {
      font-weight: 500;
      display: block;

      &::before {
        display: none;
      }

      &::after {
        content: '/';
        padding-left: 5px;
        padding-right: 5px;
      }
    }

    &:last-child {
      padding-right: 5px;

      @media (min-width: 768px) {
        padding-right: 0px;
      }
    }

    &.is-active {
      color: #333;
    }
  }

  .divider {
    padding: 0 8px;
    font-size: 0.75rem;
  }

  &-link {
    color: black;
  }
}
