.bp-product {
  margin-bottom: 30px;
  margin-top: 30px;
  position: relative;
  &_image {
    display: block;
    text-align: center;
  }

  &_accordion {
    width: 100%;
    cursor: pointer;
    padding: 0.5rem;
    font-weight: bold;
    color: black;
    overflow: hidden;
    background-color: #f4f4f4;
    &_header {
      width: 100%;
      border: none;
      font-size: inherit;
      font-weight: inherit;
      cursor: pointer;
      line-height: inherit;
      background-color: transparent;
      display: flex;
      justify-content: space-between;
      &_up {
        transition: all 0.2s;
        transform: rotate(0deg);
      }
      &_down {
        transition: all 0.2s;
        transform: rotate(180deg);
      }
    }
    &_contentCollapse {
      max-height: 0;
      overflow: hidden;
      font-weight: normal;
      transition: max-height 0.3s;
    }
    &_contentExpand {
      font-weight: normal;
      max-height: 100vh;
      transition: max-height 0.3s;
    }
  }

  &_category {
    position: relative;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.1;
    margin: 0;
    background-image: linear-gradient(120deg, #b8f0c0 0%, #b8f0c0 100%);
    background-repeat: no-repeat;
    background-size: 100% 1.1875rem;
    background-position: 0 100%;
  }
  &_socialWrapper {
    & svg {
      fill: black;
    }
  }
}
