.bp-social {
  @media (min-width: 768px) {
    align-self: center;
  }

  ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;

    li {
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  svg {
    width: 32px;
    height: 32px;
    fill: black;
    transition: all 0.3s;
  }

  a:hover svg {
    fill: var(--primary-color, #ff5c85);
  }
}

.bp-social-footer {
  display: block;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: -3rem;
  margin-bottom: 1rem;
  @media (min-width: 768px) {
    padding-left: 0;
    padding-right: 0;
  }
  ul {
    max-width: 280px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap !important;
    justify-content: space-between !important;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      font-size: 1.5rem;
      height: 3.125rem;
      position: relative;
      transition: 0.2s;
      width: 3.125rem;
    }
  }

  svg {
    width: 32px;
    height: 32px;
    fill: white;
    transition: all 0.3s;
  }

  a:hover svg {
    fill: var(--primary-color, #ff5c85);
  }

  a {
    bottom: 0;
    display: inline-block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }
}
