.bp-theme {
  &_primary {
    background-color: #77BEE9;
    &.stacker {
      h2 {
        color: #fff;
      }
      background-color: #26CFCE;
    }
    &.editor {
      background-color: #26CFCE;
    }
  }
}
