.bp-nav-item {
  position: relative;

  &:hover > a &:focus-within {
    background-color: var(--primary-color, #ff5c85);
  }

  &:hover > div {
    height: auto;
  }

  &_link {
    font-size: 1rem;
    color: white;
    padding: 14px;
    width: 100%;
    text-align: left;
    position: relative;
    display: flex;
    justify-content: space-between;
    border: none;
    background-color: transparent;
    cursor: pointer;
    text-transform: capitalize;

    &:hover + div {
      height: auto;
    }

    @media (min-width: 768px) {
      padding: 0 10px;
      font-weight: 700;
      width: auto;
      display: flex;
      align-items: center;
      height: 59px;

      &:hover,
      &:focus {
        background-color: var(--primary-color, #ff5c85);
      }

      &:focus + div {
        height: auto;
      }
    }

    @media (min-width: 1024px) {
      padding: 0 20px;
      font-size: 1.125rem;
    }
  }

  &_icon_close {
    @media (min-width: 768px) {
      position: static;
      margin-left: 10px;
    }

    svg {
      width: 1rem;
      height: 0.85rem;
      fill: white;
      display: block;
    }
  }
  &_icon_open {
    @media (min-width: 768px) {
      position: static;
      margin-left: 10px;
    }

    svg {
      transform: rotate(180deg);
      width: 1rem;
      height: 0.85rem;
      fill: white;
      display: block;
    }
  }
  &_subnav {
    overflow: hidden;
    padding-left: 1rem;
    transition: height 0.3s ease-in-out;
    height: 0.1%;

    @media (min-width: 768px) {
      position: absolute;
      top: 100%;
      left: 0;
      overflow: auto;
      height: 0.1%;
      background: black;
      min-width: 200px;

      &:focus-within {
        height: auto;
      }
    }

    &-items {
      list-style-type: none;
      padding: 0;

      @media (min-width: 768px) {
        padding-top: 12px;
        padding-bottom: 10px;
        border-top: 4px solid var(--primary-color, #ff5c85);
      }
    }

    &-link {
      padding: 14px;
      font-size: 1rem;
      color: white;
      width: 100%;
      text-align: left;
      position: relative;
      display: block;

      &:hover {
        background-color: #333;
      }
    }
  }
}
