@import '~swiper/swiper.scss';

.bp-slider {
  position: relative;
  @media (min-width: 768px) {
    margin: 0;
  }

  &_nav {
    display: none;
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    z-index: 2;
    background: #fff;
    border: none;
    padding: 0;
    margin: 0;
    border: 2px solid #000;
    cursor: pointer;
    transition: all 0.3s ease-in;

    svg {
      height: 20px;
      width: 20px;
      transition: all 0.3s ease-in;
    }

    @media (min-width: 768px) {
      display: block;
      top: 45%;
      height: 60px;
      width: 60px;
      border-radius: 50%;

      svg {
        transition: all 0.3s ease-in;
      }
    }

    &:disabled {
      opacity: 0.2;
      cursor: not-allowed;
    }

    &-next {
      @media (min-width: 768px) {
        right: -70px;

        &:not(:disabled):hover {
          right: -80px;
          background-color: var(--primary-color);
          border: none;

          svg {
            fill: #fff;
          }
        }
      }
    }

    &-prev {
      @media (min-width: 768px) {
        left: -70px;

        svg {
          transform: rotate(180deg);
        }

        &:not(:disabled):hover {
          left: -80px;
          background-color: var(--primary-color);
          border: none;

          svg {
            fill: #fff;
          }
        }
      }
    }
  }

  &_slide {
    figure {
      @media (min-width: 768px) {
        max-width: 540px;
      }

      @media (min-width: 991px) {
        max-width: 752px;
      }
    }
    &:hover {
      h2 > span {
        background-image: linear-gradient(120deg,var(--secondary-color) 0%,var(--secondary-color) 100%);
        background-repeat: no-repeat;
        background-size: 100% 0.1875rem;
        background-position: 0 100%;
      }

      .bp-slider_copy-cta {
        color: #fff;
        background-color: var(--primary-color);
        border-color: var(--primary-color);
      }

      .icon-play {
        background: var(--primary-color);
        color: #fff;
      }
    }
  }

  &_image {
    &.swiper-lazy {
      opacity: 0;
      transition: all 0.3s ease-out;
    }

    &.swiper-lazy-loaded {
      opacity: 1;
    }
  }

  &_copy {
    background-color: white;
    max-width: 96%;
    margin: -14px auto 0;
    z-index: 1;
    position: relative;

    @media (min-width: 768px) {
      position: absolute;
      top: 50%;
      right: 30px;
      transform: translateY(-50%);
      z-index: 1;
      margin-top: 0;
      max-width: 350px;
      width: 350px;
    }

    @media (min-width: 992px) {
      position: absolute;
      top: 50%;
      right: 30px;
      transform: translateY(-50%);
      z-index: 1;
      max-width: 462px;
      width: 462px;
    }

    &-content {
      padding: 20px;

      @media (min-width: 768px) {
        padding: 24px;
      }
    }

    &-type {
      margin-bottom: 8px;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: #333;
      font-size: 0.75rem;
      font-weight: 700;
    }

    &-title {
      margin-bottom: 14px;
    }

    &-cta {
      font-size: 0.875rem;
      font-weight: 700;
      background-color: #fff;
      border: 2px solid #000;
      border-radius: 35px;
      color: #333;
      padding: 10px 16px;
      display: inline-block;
      position: relative;
      transition: all 0.3s ease-out;

      &::before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: black;
        transform: scaleX(0);
        transform-origin: 0 50%;
        transition-property: transform;
        transition-duration: 0.3s;
        transition-timing-function: ease-out;
      }

      &:hover {
        color: white;
      }

      @media (min-width: 768px) {
        font-size: 1.125rem;
        padding: 14px 20px;
      }
    }
  }

  &_type {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    font-size: 0.625rem;
    font-weight: 600;
    line-height: 1.1;
    color: #2c5270;
    padding: 3px 5px;
    z-index: 1;
    text-transform: uppercase;
    letter-spacing: 1px;

    @media (min-width: 768px) {
      font-size: 0.75rem;
      padding: 6px;
    }
  }

  &_link {
    display: block;

    &:hover {
      p > span {
        background-image: linear-gradient(120deg, #ff5c85 0%, #b8f0c0 100%);
      }

      .icon:before {
        transform: scaleX(1);
      }

      .icon-play {
        background-color: var(--primary-color);
      }

      picture img {
        transform: scale(1.1);
      }
    }
  }

  &_heroImage {
    position: relative;
    overflow: hidden;

    picture img {
      transition: all 0.8s ease-out 0s !important;
    }
  }

  &_underline_caption {
    padding-top: 1rem;
    text-align: center;
    & span {
      color: white;
      text-decoration: none;
      font-weight: 700;
      align-self: flex-start;
      background-image: linear-gradient(120deg, #77BEE9 0%, #77BEE9 100%);
      background-repeat: no-repeat;
      background-size: 100% 0.1875rem;
      background-position: 0 100%;

      @media (min-width: 768px) {
        font-size: 1.75rem;
        margin-left: 2rem;
        margin-bottom: 0.5rem;
        align-self: center;
      }
      &:hover,
      &:focus {
        color: #b8f0c0;
        background-image: linear-gradient(120deg, #77BEE9 0%, #77BEE9 100%);
      }
    }
  }

  &_caption {
    font-size: 0.875rem;
    font-weight: 600;
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;

    @media (min-width: 768px) {
      font-size: 1.125rem;
    }

    span {
      transition: all 0.15s;
      background-image: linear-gradient(
        120deg,
        rgba(184, 240, 192, 0) 0%,
        rgba(184, 240, 192, 0) 100%
      );
      background-repeat: no-repeat;
      background-size: 100% 0.1875rem;
      background-position: 0 100%;
    }
  }

  &_authorDescription {
    font-size: 0.675rem;
    color: white;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;

    @media (min-width: 768px) {
      font-size: 1.125rem;
    }
  }

  .icon-play {
    width: 2.5rem;
    height: 2.5rem;
    bottom: 0.5rem;
    left: 0.5rem;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 2s ease;

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      left: 2px;
      right: 0;
      bottom: 0;
      background: black;
      transform: scaleX(0);
      transform-origin: 0 50%;
      transition-property: transform;
      transition-duration: 0.3s;
      transition-timing-function: ease-out;
    }

    svg {
      width: 1.5rem;
      height: 1.5rem;
      fill: #fff;
      margin-left: 4px;

      @media (min-width: 768px) {
        width: 2rem;
        height: 2rem;
      }
    }

    @media (min-width: 768px) {
      width: 3.25rem;
      height: 3.25rem;
      bottom: 0.6875rem;
      left: 0.6875rem;
    }
  }
}

.swiper-slide {
  opacity: 0.25;
  pointer-events: none;
}
.hero .swiper-container {
  @media (min-width: 768px) {
    padding-bottom: 4rem !important;
  }
}
.swiper-slide-visible,
.swiper-slide-active {
  opacity: 1;
  pointer-events: auto;
}

/* Scrollbar */
.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1);
  .swiper-container-horizontal > & {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 50;
    height: 5px;
    width: 98%;
    @media (min-width: 960px) {
      height: 10px;
      bottom: 0;
    }
  }
  .swiper-container-vertical > & {
    position: absolute;
    right: 3px;
    top: 1%;
    z-index: 50;
    width: 5px;
    height: 98%;
  }
}

.bp-slider_author {
  div > .swiper-scrollbar-drag {
    background: rgba(255, 255, 255, 0.2);
  }
}

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  left: 0;
  top: 0;
}
.swiper-scrollbar-cursor-drag {
  cursor: move;
}
.swiper-scrollbar-lock {
  display: none;
}

.swiper-pagination {
  @media (max-width: 768px) {
    bottom: -2rem;
  }
}

.hero {

  .swiper-container {
    @media (max-width: 768px) {
      padding-bottom: 3rem;
    }
  }

  div > .swiper-slide-next,
  .swiper-slide-prev {
    opacity: 0;
    pointer-events: none;
  }
  div > .swiper-slide-active {
    opacity: 1;
    pointer-events: auto;
  }
  div > .swiper-scrollbar {
    display: none;
  }
  div > .swiper-pagination {
    @media (max-width: 768px) {
      display: block;
    }
  }
  div
    > .swiper-container-horizontal
    > .swiper-pagination-bullets
    .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    @media (min-width: 960px) {
      width: 20px;
      height: 20px;
      margin: 0 10px;
    }
  }

  div > .swiper-pagination-bullet-active {
    background-color: var(--black-color, black);
  }
}
.tile,
.bp-productSlider,
.bp-slider_author,
.bp-slider_tile {
  div > .swiper-pagination {
    display: none;
  }
}
