.tag-container{
  padding:0 10px;
  .bp-tags{
    padding:0 10px;
  }
}
.tagCategorySection {
  padding-bottom: 2rem !important;
  .wrap{
    text-align: center;
  }
}
.d-inline-block {
  display: inline-block !important;
}

.rounded-circle {
border-radius: 50% !important;
}