.bp-slider_author {
  padding-top: 1.6rem;
  padding-bottom: 2.6rem;
  position: relative;

  @media (min-width: 768px) {
    padding-top: 3.25rem;
    padding-bottom: 4.25rem;
  }

  &-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 14px;

    @media (min-width: 768px) {
      margin-bottom: 16px;
      flex-direction: row;
      align-items: center;
    }
  }

  &-title {
    font-size: 1.375rem;
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: 0;
    margin: 0;
    margin-bottom: 8px;

    @media (min-width: 768px) {
      font-size: 2.25rem;
    }
  }

  &-link {
    color: black;
    font-size: 0.875rem;
    font-weight: 700;

    align-self: flex-start;
    background-image: linear-gradient(
      120deg,
      var(--primary-color, #ff5c85) 0%,
      var(--primary-color, #ff5c85) 100%
    );
    background-repeat: no-repeat;
    background-size: 100% 0.1875rem;
    background-position: 0 100%;

    @media (min-width: 768px) {
      font-size: 1.125rem;
      margin-left: 24px;
      margin-bottom: 8px;
      align-self: center;
    }

    &:hover,
    &:focus {
      background-image: linear-gradient(120deg, black 0%, black 100%);
    }
  }

  &-description {
    width: auto;
    font-size: 0.875rem;
    text-align: center;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    color: #fff;

    @media (min-width: 768px) {
      width: 50rem;
      font-size: 1.25rem;
    }
  }
}
