:root {
  --primary-color: #8F83ED;
  --secondary-color: #26CFCE;
  --yellow-color: #FFE252;
  --orange-color: #F66628;
  --lightPink-color: #F9BACB;
  --lightBlue-color: #77BEE9;
  --white-color: #fff;
  --black-color: #000;
}
